body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  max-width: 500px;
  max-height: 350px;
}

.card-img .image {
  width: 250px;
  height: 100%;
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: -3px;
  font-size: 0;
}

.card-details {
  background: hsl(0, 0%, 100%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.card-details p:first-child {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 2px;
}

.card-details .card-title {
  font-size: 2.3rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin-top: 1px;
  margin-bottom: 10px;
}

.card-details p:first-child,
.card-caption,
.card-price span {
  color: hsl(228, 12%, 48%);
}

.card-details .card-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-details .card-price span:first-child {
  font-weight: 700;
  font-size: 25px;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
}

.card-details .card-price span:last-child {
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 15px;
}

.card-details button {
  width: 100%;
  height: 45px;
  color: white;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  border: none;
}

.card-details button:hover {
  background-color: hsl(158, 36%, 14%);
}

.card-details button img {
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .card {
    padding: 15px;
    flex-direction: column;
  }

  .card-img .image {
    width: 100%;
    height: 250px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .card-details {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .container {
    margin-top: 0;
  }

  .attribution {
    margin-top: 220px;
  }
}
